<header>

</header>
<main class="h-screen">
    <div>
        <p-autoComplete [(ngModel)]="selectedFilteredRecipe"
                        [suggestions]="filteredRecipes"
                        (completeMethod)="filterRecipes($event)"
                        (onSelect)="selectRecipe($event)"
                        optionLabel="name"
                        [dropdown]="true"
                        placeholder="Add an item">
            <ng-template let-recipe pTemplate="item">
                <div class="flex align-items-center">
                    <img [ngSrc]="recipe.image" [alt]="recipe.name" class="mr-2" width="32" height="32" priority>
                    <span>{{recipe.name}}</span>
                </div>
            </ng-template>
        </p-autoComplete>
    </div>
    <div class="border-left-1 surface-border overflow-y-auto">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" placeholder="Search" [formControl]="searchText">
        </span>

        @for (recipe of recipes | keyvalue; track recipe.key) {
            <div class="flex">
                <span>
                    <img [ngSrc]="'../assets/images/'+recipe.key+'.png'" [alt]="recipe.value.name" class="mr-2" width="32" height="32" priority>
                </span>
                <span>{{recipe.value.name}}</span>
            </div>
        }
    </div>
</main>

